{% extends "auctions/layout.html" %}

{% block body %}
    
   <div class="container"> 
       <h2 style="margin-bottom: 20px;">Active Listings</h2>
       <div class="row">
            {% for st in staff %}
                <div class="col-md-3 col-xs-6"> 
                    <div> {{st.image_data}}</div>
                    <p>id: {{st.id}} <a href='{% url "staff_id" st.id %}'>{{st.staffname}}</a> price: {{st.startprice}} owner: {{st.staff_owner}}</p>
                </div>
            {% empty %}
                <p> no items in auction </p>
            {% endfor %}
        </div>     
     </div>
{% endblock %}